<article class="post">
  <div class="title">
    <h2>{{title}}</h2>
    <span>({{content}})</span>
  </div>
  <div class="meta">
    {{vote_count}}
    {{format_plural "point" vote_count}} by
    {{user.username}}
    on
    {{format_date created_at}}
    |
    <a href="/post/{{id}}"> {{format_plural "comment" comments.length}} </a>
  </div>
</article>